@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body {
    align-items: center;
    background: url("images/pattern-background-desktop.svg") no-repeat hsl(225, 100%, 94%) top/contain;
    display: flex;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    height:100vh;
    justify-content: center;
}

.container {
    background-color: #fff;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    width: 350px;
    height: 530px;
}

.container .info{
    height: 70%;
    padding: 2em;
}

.info h1 {
    color:hsl(223, 47%, 23%);
    font-size: 1.2em;
    font-weight: 900;
    margin-bottom: 0.7em;
}

.info #info-info{
    color: hsl(224, 23%, 55%);
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 1em;
}

p{
    color: hsl(224, 23%, 55%);
}

.plan {
    align-items: center;
    border-radius: 1em;
    background-color: hsl(225, 100%, 98%);
    display: flex;
    margin-bottom: 2em;
    padding: 1.2em;
    position: relative;
}

.plan img {
    object-fit: contain;
    width: 2.5em;
    margin-right: 1em;
}

.plan .plan-price{
    position: relative;
    font-size: 0.8em;
    font-weight: 500;
    text-align: left;
}

.plan .plan-price h3{
    color:hsl(223, 47%, 23%);
    font-weight: 900;
    margin-bottom: 0.3em;
}

.plan a{
    color: hsl(245, 75%, 52%);
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 700;
    padding: inherit;
    position: absolute;
    right: 0;
    text-decoration: underline;
}

.plan a:hover, button:hover{
    opacity: 0.8;
    text-decoration: none;
}

button{
    background-color: hsl(245, 75%, 52%);
    border-radius:0.7em;
    border: none;
    box-shadow: 0 4px 20px -2px gray;
    color:#fff;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 1.5em;
    padding: 0.9em;
    width: 100%;
}


#cancel {
    cursor: pointer;
    font-weight: 900;
    font-size: 0.75em;
}

#cancel:hover {
    color:hsl(223, 47%, 23%);
}
